.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #191919 !important;
}

.custom-scrollbar {
  scrollbar-color: #2b2b2b #191919;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar {
  background: #fff !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff0000 !important;
  border-radius: 10px !important;
  border: 2px solid #fff !important;
}
